html, body {
    font-size: 24px;
    margin: 0;
}
h1 {
    background-color: seagreen;
    color: white;
    text-align: center;
    margin: 0 ;
}
nav {
    background-color: lightgreen;
    width: 13rem;
}
nav ul {
    padding-left: 25px;
}
article {
    margin-left: 3rem;
}
img {
    width: 400px;
    border: 5px solid black;
    padding: 10px;
}
li {
    margin-left: 1rem;
}